.container{
    display: flex;
    flex-direction: column;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}
/*Başlık ve sil butonu */
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* İçerik */
.cardBody {
    margin-top: 10px;
}
.text{
    font-weight: bold;
}
/* Gelir */
.incomeCard {
    border: 2px solid #28a745;
}
 /* Gider */ 
.expenseCard {
    border: 2px solid #dc3545;
}
 /* Buton */ 
 .editButton {
    background-color: rgb(142, 51, 175);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}
.editButton:hover{
    background-color: rgb(140, 21, 238);
}
.deleteButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.deleteButton:hover {
    background-color: #c82333;
}
.sortButtons {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
  
.sortButton button {
    margin-right: 10px;
    background-color:#5dbea3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
  
.sortButton button:hover {
    background-color: #397262;
}
  
.filterDropdown select {
    background-color: #5dbea3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
  
.filterDropdown select:hover {
    background-color: #397262;
}
