.container{
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
}
.innerContainer{
    display: flex; 
    flex-direction: column;
    color: rgb(83, 83, 83);
    overflow-y: auto;
    max-height: 600px;
}
.emptySection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    text-align: center;
    color: rgb(136, 20, 20);
}
.text{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.img{
    width: 200px;
    margin: 0 auto;
    transition: transform 1s ease;
}
/* Hover animation */
.img:hover{
    transform: scale(1.2);  
}